@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

:root{
  --clr-neutral-100: #ffffff;
  --clr-primary-200: #edf2f4;
  --clr-primary-400: #8d99ae;
  --clr-primary-600: #d62338;
  --clr-primary-700: #020121;
  --clr-primary-800: #d90429;
  --clr-neutral-900: #000000;
}

body{
  background-color: var(--clr-primary-700);
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
}

#root{
  display: grid;
  justify-items: center;
  padding-block: 3rem;
}

.submitTask:enabled{
  background-color: var(--clr-primary-700);
  color: var(--clr-neutral-100);
  transition: all 0.5s ease-in;
}


.iconEdit:hover, .iconDelete:hover, .iconComplete:hover{
  scale: 1.4;
  transition: all 0.3s;
}

.completedStyle{
  text-decoration: line-through;
  color: grey;
}

.completedListStyle{
  background-color: #c43c4c;
} 